{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
<head>
<link rel="stylesheet"  href="{% static 'dhmoi/style.css' %}" />


</head>
<body>
	{% block body %}
	<div class="header">
  <h2>ACS Services</h2>
  <h3>Υπάλληλος</h3>

</div></p>
<div class="form-row" style="clear:both;">
<a href="{% url 'employee_new' %}"  class="addnewbtn btn btn-primary">Νέος Υπάλληλος</a> 
  <a href="{% url 'dhmos_new' %}" target="_blank" class="addnewbtn btn btn-warning">Νέος Πελάτης</a>
	   
	</div><br><br>
	<form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Αναζήτηση</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.dhmos.label_tag }}
          {% render_field filter.form.dhmos class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.firstname.label_tag }}
          {% render_field filter.form.firstname class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.lastname.label_tag }}
          {% render_field filter.form.lastname class="form-control" %}
        </div>
        
            
          </div>
             <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Αναζήτηση
      </button>
        </div>

      </div>
     
    </div>
  </form>
<table border="1" class="myTable" id="employeeTable" >
	<tr>
		<th>Πελάτης</th>
		<th>Επώνυμο</th>
		<th>Όνομα</th>
		<th>Τμήμα</th>
		<th>Τηλέφωνο</th>
		<th>Κινητό</th>
		<th>Email</th>
		<th>Edit</th>
	</tr>
	{% for employee in filter.qs %}
	<tr>
		<td>{{employee.dhmos}}</td>
		<td>{{employee.lastname}}</td>
		<td>{{employee.firstname}}</td>
		<td>{{employee.get_tmhma_display}}</td>
		<td>{{employee.phone}}</td>
		<td>{{employee.cellphone}}</td>
		<td><font color="blue">{{employee.email}}</font></td>
		<td style="width:7%;"><a class="btn btn-default" href="{% url 'employee_update' pk=employee.pk %}"><span class="glyphicon glyphicon-pencil" style="color: green;"></span></a>|<a class="btn btn-default" onclick="return confirm('Είστε σίγουρος/η για την διαγραφή;');" href="{% url 'delete_employee' pk=employee.pk %}"><span class="glyphicon glyphicon-trash" style="color: red;"></span></a></td>
	</tr>
	{% endfor %}
</table>
<script>
	// get the table element
var $table = document.getElementById("employeeTable"),
// number of rows per page
$n = 10,
// number of rows of the table
$rowCount = $table.rows.length,
// get the first cell's tag name (in the first row)
$firstRow = $table.rows[0].firstElementChild.tagName,
// boolean var to check if table has a head row
$hasHead = ($firstRow === "TH"),
// an array to hold each row
$tr = [],
// loop counters, to start count from rows[1] (2nd row) if the first row has a head tag
$i,$ii,$j = ($hasHead)?1:0,
// holds the first row if it has a (<TH>) & nothing if (<TD>)
$th = ($hasHead?$table.rows[(0)].outerHTML:"");
// count the number of pages
var $pageCount = Math.ceil($rowCount / $n);
// if we had one page only, then we have nothing to do ..
if ($pageCount > 1) {
    // assign each row outHTML (tag name & innerHTML) to the array
    for ($i = $j,$ii = 0; $i < $rowCount; $i++, $ii++)
        $tr[$ii] = $table.rows[$i].outerHTML;
    // create a div block to hold the buttons
    $table.insertAdjacentHTML("afterend","<div id='buttons'></div");
    // the first sort, default page is the first one
    sort(1);
}

// ($p) is the selected page number. it will be generated when a user clicks a button
function sort($p) {
    /* create ($rows) a variable to hold the group of rows
    ** to be displayed on the selected page,
    ** ($s) the start point .. the first row in each page, Do The Math
    */
    var $rows = $th,$s = (($n * $p)-$n);
    for ($i = $s; $i < ($s+$n) && $i < $tr.length; $i++)
        $rows += $tr[$i];
    
    // now the table has a processed group of rows ..
    $table.innerHTML = $rows;
    // create the pagination buttons
    document.getElementById("buttons").innerHTML = pageButtons($pageCount,$p);
    // CSS Stuff
    document.getElementById("id"+$p).setAttribute("class","active");
}


// ($pCount) : number of pages,($cur) : current page, the selected one ..
function pageButtons($pCount,$cur) {
    /* this variables will disable the "Prev" button on 1st page
       and "next" button on the last one */
    var $prevDis = ($cur == 1)?"disabled":"",
        $nextDis = ($cur == $pCount)?"disabled":"",
        /* this ($buttons) will hold every single button needed
        ** it will creates each button and sets the onclick attribute
        ** to the "sort" function with a special ($p) number..
        */
        $buttons = "<input type='button' value='&lt;&lt; Προηγ.' onclick='sort("+($cur - 1)+")' "+$prevDis+">";
    for ($i=1; $i<=$pCount;$i++)
        $buttons += "<input type='button' id='id"+$i+"'value='"+$i+"' onclick='sort("+$i+")'>";
    $buttons += "<input type='button' value='Επόμ. &gt;&gt;' onclick='sort("+($cur + 1)+")' "+$nextDis+">";
    return $buttons;
}
</script>
	{% endblock %}
	
</body>


	
