{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}

<link rel="stylesheet"  href="{% static 'dhmoi/style.css' %}" />
    <h2 class="post-form" style="color:brown; font-family: Courier New, monospace; text-align: center;"><b>Νέο Service</b></h2></br>
    <form method="POST" class="post-form-service-new">{% csrf_token %}
        <div class="form-row">
        	<div class="form-group col-md-3 mb-0">
        		{{serviceform.employee|as_crispy_field}}
        		{{serviceform.modelinfo|as_crispy_field}}
        		{{serviceform.info|as_crispy_field}}
        	</div>
        	<div class="form-group col-md-3 mb-0">
        		{{serviceform.customername|as_crispy_field}}
        		{{serviceform.serialnumber|as_crispy_field}}
        		{{serviceform.exportdate|as_crispy_field}}
        	</div>
        	<div class="form-group col-md-3 mb-0">
        		{{serviceform.phone|as_crispy_field}}
        		{{serviceform.modeltype|as_crispy_field}}
        		{{serviceform.cost|as_crispy_field}}
        </div>
        <div class="form-row">
        	<div class="form-group col-md-3 mb-0">
        		{{serviceform.cellphone|as_crispy_field}}
        		{{serviceform.importdate|as_crispy_field}}
        		{{serviceform.year|as_crispy_field}}

        </div>
        </div>
        <div class="form-row" style="clear:both;">
        <button type="submit" class="save addnewbtn btn-success">Αποθήκευση</button>
    </div>
    </form>
{% endblock %}